@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:ital,wght@0,300;0,400;1,300&family=Titillium+Web&family=Varela+Round&display=swap');
body {
    background-color: rgb(238, 229, 229);
}

* {
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Varela Round', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 60px;
    background-color: black;
    color: white;
}
nav ul li{
    padding: 0 20px;
}
.brand img{
    width: 130px;
}

.container{
    min-height: 62vh;
    background-color: black;
    color: black;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 20px auto;
    width: 70%;
    border-radius: 10px;
    padding: 30px;
    background-image: url('img.jpg');
    background-size: cover;
    
}
.bottom{
    position: sticky;
    height: 120px;
    background-color: black;
    color: white;
    /* bottom: 0px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}
.icons{
    margin-top: 17px;
    cursor: pointer;
}
#myProgressBar{
    width: 90vw;
    text-align: center;
    cursor: pointer;
}
.songItemcontainer{
    margin-top: 43px;
}
.songItem{
    height: 40px;
    display: flex;
    background-color: rgb(255, 213, 188);
    width: 200%;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}
.songItem img{
    width: 38px;
    border-radius: 60px;
    margin: 0 23px;
}
.timestamp{
    margin: 0 23px;
    cursor: pointer;
}
.songinfo img{
    opacity: 0;
    transition:  opacity 0.6s ease-in;
}